<% chevron = icon.nil? || !icon ? '' : '<span class="glyphicon glyphicon-chevron-right"></span>'.html_safe %>
<% if page.foreign_link.present? %>
  <li class='not'><%= chevron %><%= link_to page.title, page.foreign_link, {target: '_blank'} %></li>
<% else %>
  <% page_uri = Rails.application.routes.named_routes[:spree].path.spec.to_s == '/' ? page.slug : Rails.application.routes.named_routes[:spree].path.spec.to_s + page.slug %>
  <li class=<%=(request.fullpath.gsub('//','/') == page_uri) ? 'current' : 'not'%>><%= chevron %><%= link_to page.title, page_uri  %></li>
<% end %>

