<%= form_for :order, :url => populate_orders_path do |f| %>
    <% sample = sample_variant(@product) %>
  <div class="row" id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

    <% if @product.variants_and_option_values(current_currency).reject{|v| v == sample }.any? %>
      <div id="product-variants" class="col-sm-12">
        <h3 class="product-section-title"><%= Spree.t(:variants) %></h3>
        <ul class="list-group">
          <% @product.variants_and_option_values(current_currency).reject{|v| v == sample }.each_with_index do |variant, index| %>
            <li class="list-group-item">
              <div class="radio">
                <label for="<%= ['products', @product.id, variant.id].join('_') %>">
                  <%= radio_button_tag "products[#{@product.id}]", variant.id, index == 0, 'data-price' => display_price(variant) %>
                  <%= variant_options variant %>
                  <% if variant_price variant %>
                    <span class="price diff"> <%= variant_price variant %></span>
                  <% end %>
                </label>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if @product.price_in(current_currency) and !@product.price.nil? %>
      <div data-hook="product_price" class="col-sm-12">

        <div id="product-price">
          <div>
            <span class="unit price <%= 'selling' unless @product.is_flooring? %>" data-price-amount="<%= @product.price_in(current_currency).amount %>" itemprop="price">
              <% if @product.is_flooring? %>
                <%= display_price_per(@product) %>
              <% else %>
                <%= display_price(@product) %>
              <% end %>
            </span>
            <span itemprop="priceCurrency" content="<%= @product.currency %>"></span>
          </div>

          <% if @product.is_flooring? %>
            <div>
              Preis&nbsp;pro&nbsp;Paket (<%= @product.content_per_package %>)&nbsp;
              <span class="lead price selling" itemprop="price" data-price-amount="<%= @product.price_in(current_currency).amount %>">
                <%= display_price(@product) %>
              </span>
              <span itemprop="priceCurrency" content="<%= @product.currency %>"></span>
            </div>
          <% end %>

          <div class="vat-and-shipping"><%= vat_and_shipping(@product) %></div>

          <% if @product.master.in_stock? %>
            <link itemprop="availability" href="http://schema.org/InStock"/>
          <% end %>
        </div>

        <%
           # TODO REFACTOR SAMPLE ORDERING and get this on load of app or cache!?
           if sample %>
          <div id="product-sample">
            <ul class="list-group" class="col-sm-12">
              <li class="list-group-item">
                <div class="checkbox">
                  <label for="<%= "products_#{@product.id}" %>">
                    <%= check_box_tag "products[#{@product.id}]", sample.id, false, data: {'price-with' => display_price(sample), 'price-without' => display_price(@product)} %>
                    Muster bestellen (<%= display_price(sample) %>)
                    <% if variant_price sample %>
                      <span class="price diff hidden"> <%= variant_price sample %></span>
                    <% end %>
                  </label>
                </div>
              </li>
            </ul>
          </div>
        <% end %>

        <div class="add-to-cart">
          <div class="form-inline row">

            <div class="col-sm-6">
              <div class="form-group">
                <div class="input-group">
                  <% unit = @product.is_flooring? ? 'Paket' : 'Stück'%>
                  <%= number_field_tag (@product.variants_and_option_values.reject{|v| v == sample }.any? ? :quantity : "variants[#{@product.master.id}]"),
                                       1, :class => 'title form-control ve', :min => 1, data: { unit: unit } %>
                  <span class="input-group-addon"><%= unit %>&nbsp;&nbsp;</span>
                </div>
              </div>
            </div>

            <% if @product.is_flooring? %>
              <div class="col-sm-6">
                <div class="form-group">
                  <div class="input-group">
                    <% qm = @product.content_per_package.to_s.gsub(',', '.').to_f %>
                    <%= number_field_tag 'qm',
                                       qm.to_s.gsub(',', '.'),
                                       class: 'title form-control qm',
                                       min: qm,
                                       step: qm %>
                    <span class="input-group-addon">m²</span>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="availability"><%= estimated_delivery(@product) %></div>

          <%= button_tag class: 'btn btn-primary btn-lg btn-block', id: 'add-to-cart-button', type: :submit do %>
            <span class="btn-left"><%= Spree.t(:add_to_cart) %></span>
            <span class="btn-separator"></span>
            <span class="btn-right"><span class="btn-price"><%= display_price(@product) %></span></span>
          <% end %>

          <br>
        </div>
      </div>

    <% else %>
      <div id="product-price">
        <div>
          <span class="price selling" itemprop="price" data-price-amount="<%= @product.price_in(current_currency).amount %>"><%= Spree.t('product_not_available_in_this_currency') %></span>
        </div>
      </div>
    <% end %>
  </div>
<% end %>