<% if spree_current_user %>
  <li>
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <%= Spree.t(:my_account) %><span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to Spree.t(:my_account), spree.account_path %></li>
      <li id="watchlist"><%=link_to_wishlist %></li>
      <li><%= link_to Spree.t(:logout), spree.logout_path %></li>
    </ul>
  </li>
<% else %>
  <li id="link-to-login"><%= link_to Spree.t(:login), spree.login_path %></li>
<% end %>
