<% @body_id = 'cart' %>
<div id="minicart" class="dropdown-menu" role="menu">

  <% if current_order.nil? || current_order.line_items.empty? %>

    <div class="ws-cart-action col-md-12" data-hook="empty_minicart">
      <p class="text-center"><%= Spree.t(:your_cart_is_empty) %></p>
    </div>

  <% else %>
    <div data-hook="outside_minicart_form">
      <%= form_for current_order, :url => update_cart_path, :html => {:id => 'update-minicart'}, :remote => true do |order_form| %>
        <div data-hook="inside_minicart_form">

          <div data-hook="minicart_items" class="clearfix">
            <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>
            <ul id='minicart-items' class="clearfix">
              <%= order_form.fields_for :line_items do |item_form| %>
                <%= render :partial => 'spree/shared/minicart_line_items', :locals => { :variant => item_form.object.variant, :line_item => item_form.object, :item_form => item_form } if item_form.object.variant %>
              <% end %>
            </ul>
          </div>

          <div id="minicart-details" data-hook="minicart_details" class="clearfix">
            <div class="col-md-6">
              <span><%= Spree.t(:subtotal) %>: <span class="order-total"><%= current_order.display_item_total %></span></span>
            </div>
            <div class="col-md-6">
              <%= link_to Spree.t(:checkout), checkout_path, :class => 'btn btn-primary btn-block checkout', :id => 'checkout-link' %>
            </div>
          </div>

          <div id="minicart-footer" class="col-md-12" data-hook="minicart_footer">
            <%= link_to Spree.t(:view_shopping_cart), cart_path, :class => 'btn btn-default btn-block' %>
            <span></span>
          </div>
        </div>
      <% end %>

    </div>
  <% end %>
</div>