<%
  products = products ||= []
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>

<% content_for :head do %>
  <% if paginated_products.respond_to?(:num_pages) %>
    <%= rel_next_prev_link_tags paginated_products %>
  <% end %>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <% if products.empty? && taxon.children.empty? %>
      <div class="alert alert-warning">
        <h3 class="search-results-title"><%= Spree.t(:no_products_found) %></h3>

        <% if params.key?(:keywords) && @taxon %>
          <p><i class="glyphicon glyphicon-circle_info"></i> Sie haben nur in der Kategorie <%= @taxon.name %> gesucht. Möchten Sie vielleicht
            <% #TODO get category taxon on initialize or cache it %>
            <%= link_to 'alle Kategorien in die Suche einbeziehen', products_path(params.except(:id)), class: 'show-all-taxons' %>?</p>
        <% end %>

        <% if @searcher.suggestions.any?  %>
          <p>Meinten Sie vielleicht
            <%= @searcher.suggestions.map {|suggestion| suggestion[:text]}.uniq.map do |term|
              link_to term, spree.products_path(params.merge keywords: term)
            end.to_sentence(words_connector: ', ', two_words_connector: " #{Spree.t(:or)} ", last_word_connector: " #{Spree.t(:or)} ").html_safe %>?
          </p>
        <% end %>

      </div>
    <% elsif params.key?(:keywords) %>
      <h6 class="search-results-title"><%= Spree.t(:search_results, :keywords => h(params[:keywords])) %> <%= products.total_count %> <%= Spree.t(:articles) %></h6>
    <% end %>
  </div>

  <% if paginated_products.respond_to?(:num_pages) %>
    <div id="paginator" class="col-sm-12">
      <div class="row">
      <div class="col-sm-4 col-md-3">
        <%= form_tag do %>
          <% options_sort = options_for_select([['Preis aufsteigend', 'a_price_per'],['Preis absteigend', 'price_per'],['Name', 'name']], params[:sort] || nil) %>
            <%= select_tag(:sort, options_sort, {class: 'form-control', prompt: Spree.t(:sort)}) %>
        <% end %>
      </div>
      <div class="col-sm-4 hidden-sm entries-info">
        <%= page_entries_info paginated_products, entry_name: Spree.t(:product) %>
      </div>
      <div class="col-sm-8 col-md-5">
        <div class="pull-right">
          <%= paginate paginated_products, theme: 'twitter-bootstrap-3', left: 1, right: 1, window: 3 %>
        </div>
      </div>
      </div>
    </div>
  <% end %>
</div>

<% if products.any? %>
<div id="products" class="row" data-hook>
  <% products.each do |product| %>
    <div id="product_<%= product.id %>" class="<%= content_for?(:sidebar) ? 'col-md-4 col-sm-6' : 'col-md-3 col-sm-6' %>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
      <div class="ws-product clearfix">
        <div class="image">
          <%#= link_to list_image(product, :itemprop => "image"), product, :itemprop => 'url' %>
          <%= link_to image_tag(product.list_image, itemprop: 'image'), product_path(product.permalink), itemprop: 'url' %>
          <span class="arrow"></span>
        </div>
        <div class="product_main col-md-12">
          <% name = "#{category_and_manufacturer(product)} <span class='name' itemprop='name'>#{truncate(product.name, :length => 50)}</span>".html_safe %>
          <h3><%= link_to name, product_path(product.permalink), :class => 'info', :title => "#{product.cached_manufacturer.name} #{product.name}" %></h3>
          <span class="price selling lead" itemprop="price"><%= display_price_per(product) %></span>
        </div>
        <div class="product_footer col-sm-12">
          <div class="availability pull-left"><span class="glyphicon glyphicon-clock"></span>3-5 Werktage</div>
          <div class="rating pull-right">
            <%= render :partial => 'spree/shared/rating_frontend', locals: {product: product, only_stars: true} %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% reset_cycle('classes') %>
</div>
<% end %>

<% if paginated_products.respond_to?(:num_pages) %>
    <div class="pull-right">
  <%= paginate paginated_products, theme: 'twitter-bootstrap-3', left: 1, right: 1  %>
    </div>
<% end %>