<% if @taxon.present? && @taxon.parent.present? && !['Zubehoer', 'Zubehör'].include?(@taxon.name) %>
  <div id="taxonomies">
    <h1><%= @taxon.name %></h1>
    <%# TODO Config Kategorie Taxon in initializer not on every render of this partial...%>
    <%= link_to 'Alle Kategorien anzeigen', seo_url(Spree::Taxon.find_by name: Spree::Config.category_taxon), class: 'show-all-taxons' %>
  </div>
<% elsif @taxon.present? %>
  <nav id="taxonomies" class="sidebar-item" data-hook>
    <h1><%= @taxon.name %></h1>
    <% get_taxonomies.each do |taxonomy| %>
      <% next unless taxonomy.root.visible? %>
      <%# next if @taxon && taxonomy.root.name == Spree::Config.category_taxon %>
      <!--<h4 class='taxonomy-root'><%= Spree.t(:shop_by_taxonomy, :taxonomy => taxonomy.name) %></h4>-->
      <%= taxons_tree(taxonomy.root, @taxon, 2, ['Zubehoer', 'Zubehör'].include?(@taxon.name) ? 1 : 0) %>
      <% end %>
  </nav>
<% else %>
    <nav id="taxonomies" class="sidebar-item" data-hook>
      <% get_taxonomies.each do |taxonomy| %>
          <% next unless taxonomy.root.visible? %>
          <%= taxons_tree(taxonomy.root, @taxon, 2, 0) %>
      <% end %>
    </nav>
<% end %>