<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->

  <head data-hook="inside_head">
    <%= render :partial => 'spree/shared/head' %>
  </head>

  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
<!-- ENV = <%= Rails.env %> -->
    <%= render :partial => 'spree/shared/header' %>
    <div class="container">
      <%= flash_messages %>
      <div class="row" data-hook>
        <%= breadcrumbs(@taxon) %>
        <%= render :partial => 'spree/home/first_row' if content_for? :first_row %>
      </div>
      <div class="row">
        <div id="content" class="<%= !content_for?(:sidebar) ? 'col-sm-12' : 'col-sm-8 col-md-9' %>" data-hook>
          <%= yield %>
        </div>
        <%= yield :templates %>
      </div>
    </div>

    <%= render :partial => 'spree/shared/footer' %>
    <%= render :partial => 'spree/shared/google_analytics' %>
    <script>
      Spree.api_key = <%= raw(api_user_key) %>;
      Spree.routes.product_search = '<%= spree.api_products_url %>';
    </script>
    <%= render :partial => 'spree/shared/trusted_shops' %>
  </body>
</html>
