<% address_id = address_type.chars.first %>
<div class="inner row" data-hook=<%="#{address_type}_inner" %>>

  <div class="control-group radio_buttons col-xs-12" id=<%="#{address_id}salutation" %>>
    <%= form.label :salutation, Spree.t(:salutation), class: 'radio_buttons control_label' %><span class="required">*</span>
    <div class="controls">
      <%= label :salutation, :m, class: 'radio inline' do %>
        <%= form.radio_button :salutation, 'm', :class => 'radio_buttons required' %>
        Herr
      <% end %>
      <%= label :salutation, :f, class: 'radio inline' do %>
        <%= form.radio_button :salutation, 'f', :class => 'radio_buttons required' %>
        Frau
      <% end %>
    </div>
  </div>
  <div class="field form-group col-xs-6" id=<%="#{address_id}firstname" %>>
    <%= form.label :firstname, Spree.t(:first_name), class: 'sr-only' %><span class="required sr-only">*</span>
    <%= form.text_field :firstname, :class => 'form-control required', placeholder: Spree.t(:first_name) + '*' %>
  </div>
  <div class="field form-group col-xs-6" id=<%="#{address_id}lastname" %>>
    <%= form.label :lastname, Spree.t(:last_name), class: 'sr-only' %><span class="required sr-only">*</span>
    <%= form.text_field :lastname, :class => 'form-control required', placeholder: Spree.t(:last_name) + '*' %>
  </div>
  <% if Spree::Config[:company] %>
    <div class="field form-group col-xs-12" id=<%="#{address_id}company" %>>
      <%= form.label :company, Spree.t(:company), class: 'sr-only' %>
      <%= form.text_field :company, :class => 'form-control', placeholder: Spree.t(:company) %>
    </div>
  <% end %>
  <div class="field form-group col-xs-12" id=<%="#{address_id}address1" %>>
    <%= form.label :address1, Spree.t(:street_address), class: 'sr-only' %><span class="required sr-only">*</span>
    <%= form.text_field :address1, :class => 'form-control  required', placeholder: Spree.t(:street_address) + '*' %>
  </div>
  <div class="field form-group col-xs-12" id=<%="#{address_id}address2" %>>
    <%= form.label :address2, Spree.t(:street_address_2), class: 'sr-only' %>
    <%= form.text_field :address2, :class => 'form-control', placeholder: Spree.t(:street_address_2) %>
  </div>
  <div class="field form-group col-xs-9" id=<%="#{address_id}city" %>>
    <%= form.label :city, Spree.t(:city), class: 'sr-only' %><span class="required sr-only">*</span>
    <%= form.text_field :city, :class => 'form-control required', placeholder: Spree.t(:city) + '*' %>
  </div>
  <div class="field form-group <%= 'hidden' if 1 >= available_countries.size %>" id=<%="#{address_id}country" %>>
    <%= form.label :country_id, Spree.t(:country), class: 'sr-only' %><span class="required sr-only">*</span>
    <span id=<%="#{address_id}country-selection" %>>
      <%= form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'form-control required '} %>
    </span>
  </div>

  <% if Spree::Config[:address_requires_state] %>
    <div class="field form-group" id=<%="#{address_id}state" %>>
      <% have_states = !address.country.states.empty? %>
      <%= form.label :state, Spree.t(:state), class: 'sr-only' %><span class='required sr-only' id=<%="#{address_id}state-required"%>>*</span><br/>

      <% state_elements = [
         form.collection_select(:state_id, address.country.states,
                            :id, :name,
                            {:include_blank => true},
                            {:class => have_states ? 'form-control required' : 'form-control hidden',
                            :disabled => !have_states}) +
         form.text_field(:state_name,
                            :class => !have_states ? 'form-control required' : 'form-control hidden',
                            :disabled => have_states)
         ].join.gsub('"', "'").gsub("\n", "")
      %>
      <%= javascript_tag do -%>
        $('#<%="#{address_id}state" %>').append("<%== state_elements %>");
      <% end %>
    </div>
      <noscript>
        <%= form.text_field :state_name, :class => 'form-control required' %>
      </noscript>
  <% end %>

  <div class="field form-group col-xs-3" id=<%="#{address_id}zipcode" %>>
    <%= form.label :zipcode, Spree.t(:zip), class: 'sr-only' %><span class="required sr-only">*</span>
    <%= form.text_field :zipcode, :class => 'form-control required', placeholder: Spree.t(:zip) + '*' %>
  </div>
  <div class="field form-group col-xs-12" id=<%="#{address_id}phone" %>>
    <%= form.label :phone, Spree.t(:phone), class: 'sr-only' %><span class="required sr-only">*</span>
    <%= form.phone_field :phone, :class => 'form-control required', placeholder: Spree.t(:phone) + '*' %>
  </div>
  <% if Spree::Config[:alternative_shipping_phone] %>
    <div class="field form-group col-xs-12" id=<%="#{address_id}altphone" %>>
      <%= form.label :alternative_phone, Spree.t(:alternative_phone), class: 'sr-only' %>
      <%= form.phone_field :alternative_phone, :class => 'form-control', placeholder: Spree.t(:alternative_phone) %>
    </div>
  <% end %>
</div>
